.form{
    margin: 5px;
    background-size: auto;
    background-image: url('/images/Screenshot 2025-12-15 215650.png');
    background-size: 100%;
    background-repeat: no-repeat;
    box-shadow: 10px 10px 10px grey;
    align-content: baseline;
}
.file{
    size: 0rcap;

}
.btn{
    padding: 7px;
    border: 2px solid green;
    background-color: lightgreen;
    color: black;
    border-radius: 5px;
    font-size: 16px;
    align-items: center;
}
.input{
    padding: 5px;
    border: 2px solid skyblue;
    background-color: lightyellow;
    color: black;
    border-radius: 5px;
    font-size: 16px;
    align-items: center;
}
.form{
    padding: 7px;
    border: 2px solid orange;
    background-color: lightcyan;
    color: black;
    border-radius: 5px;
    font-size: 16px;
    align-items: right;
}
.selector{
    color: white;
    background-color: green;
    background-clip:border-box;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
}
